body {
    display: grid;
    height: 50vh;
    grid-template: auto 1fr auto / auto 1fr auto;
  }
  
  input[type="number"]
  {
      font-size:4em;
  }

  header {
    background: wheat;
    padding: 1rem;
    grid-column: 1 / 4;
  }
  
  .left-sidebar {
    background: rgb(129, 255, 161);
    grid-column: 1 / 2;
    font-size:large;
  }
  
  main {
    background: rgb(255, 190, 164);
    grid-column: 2 / 3;
    font-size:60px;
    width: auto;
    text-align: center;
  }
  
  .right-sidebar {
    background: wheat;
    grid-column: 3 / 4;
    overflow:scroll;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
  body {
    font-family: system-ui, sans-serif;
  }
  
  .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  }


  #gradeTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: auto;
    font-size:small;
    width: 95%;
    white-space:nowrap;
    padding: 10px;
    text-align:center;
  }
  
  #gradeTable td, #gradeTable th {
    border: 1px solid #ddd;
    padding: 2px;
  }
  
  #gradeTable tr:nth-child(even){background-color: rgb(211, 211, 211);}
  #gradeTable tr:nth-child(odd){background-color: rgb(172, 172, 172);}
  
  #gradeTable tr:hover {background-color: rgb(130, 199, 139);}
  
  #gradeTable th {
    width: 90%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }